.form2{

    border: 2px solid black;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    height: 600px;

    padding: 100px;
    
}

.btm{
    color: white;
   background-color: rgb(84, 84, 240);
   border-radius: 10%;
}

